<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_list_detail.name }}</h1>
            <div><a href="{% url 'todo_list_update' todo_list_detail.id %}">Edit</a></div>
            <div><a href="{% url 'todo_list_delete' todo_list_detail.id %}">Delete</a></div>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list_item in todo_list_detail.items.all %}
                    <tr>
                        <td>{{ list_item.task }}</td>
                        <td>{{ list_item.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</body>
</html>
